# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- script:  ls text | grep 0000 1>&2; echo ''
  displayName: 'Must not have default RFC number'
  failOnStderr: 'true'